@media screen and (min-width: 1550px) and (max-width: 1700px) {
  
}

@media screen and (min-width: 1370px) and (max-width: 1549px) {
   
}

@media screen and (max-width: 1369px) {
 
}


/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
    .login {
        padding-top: 0 !important;
        flex-direction: column !important;
    }
    .info {
        display: none !important;
    }
    .login h1 {
        font-size: 32px !important;
        margin-bottom: 30px !important;
    }
    .login__input {
        margin-bottom: 20px !important;
    }
    .login__button {
        margin-top: 20px !important;
    }
}

.login {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login h1 {
    font-size: 42px;
    margin-bottom: 30px;
}
.login p {
    margin-top: 20px;
    color: #d00;
    font-weight: bold;
}
.login label {
    margin-top: 40px;
    font-weight: bold;
}
.login__input {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.login h2 {
    margin-top: 30px;
}
.login__button {
    background: #d00;
    border: 1px solid #d00;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
    cursor: pointer;
    height: 60px;
}
.login__button_disabled {
    background: #ccc;
    border: 1px solid #ccc;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 60px;
    width: 300px;
    height: 60px;
}
.login__button:hover {
    background: #a00;
}
.sign_in {
    width: 40%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-radius: 50px;
    width: 70%;
}
.sign_in .login__input {
    border: 1px solid #aaa;
    padding: 10px 20px;
}
.image {
    width: 80%;
}
.tabs {
    margin-bottom: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
}
.tabs button:first-child {
    border-right: none;
    border-radius: 10px 0px 0px 10px;
}
.tabs button:last-child {
    border-left: none;
    border-radius: 0 10px 10px 0;
}
.tabs button {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    width: 160px;
    background: #fff;
    border: 2px solid #aaa;
    color: inherit;
    font-weight: bold;
}
.tabs button:hover {
    background: #c00;
    color: #fff;
    border: 1px solid #c00;
}

.LoadingPanel {
    margin-top: 200px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
@keyframes ldio-lwfv892l7qs {
0% { background: #ffffff }
12.5% { background: #ffffff }
12.625% { background: #dd0000 }
100% { background: #dd0000 }
}
.ldio-lwfv892l7qs div {
position: absolute;
width: 40px;
height: 40px;
background: #dd0000;
animation: ldio-lwfv892l7qs 1s linear infinite;
}
.loadingio-spinner-blocks-98jpff62tnu {
width: 200px;
height: 200px;
display: inline-block;
overflow: hidden;
background: #dddddd;
}
.ldio-lwfv892l7qs {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-lwfv892l7qs div { box-sizing: content-box; }
.main__inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}