@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
/* Comfortaa-VariableFont_wght */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  color: #333;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}
input, label {
  font-family: inherit;
  display: block;
}
button {
  font-family: inherit !important;
}
p {
  margin: 0;
  padding: 0;
}
