@font-face {
  font-family: 'Comfortaa';
  src: url('/Roboto-Regular.ttf');
}
/* Comfortaa-VariableFont_wght */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa';
  color: #333;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}
input {
  font-family: inherit;
}
p {
  margin: 0;
  padding: 0;
}