.header {
    background: #fff;
    width: 100%;
    display: flex;
    padding: 24px 10%;
    align-items: center;
    z-index: 999;
}
.catalog__button{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: inherit;
    font-family: inherit;
    height: 40px;
    color: #fefefe;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background: #d00;
    margin-left: 40px;
    border: none;
    cursor: pointer;
}
.catalog__button:hover{
    background: #a22;
}
.catalog__button img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}

.logo{
    background: #fff;
    height: 80px;
    width: 300px;
}
.user{
    padding: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}
.cart p {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 32px;
    color: #333 !important;
}
.cart div {
    font-weight: bold;
    color: #333 !important;
}
.cart {
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.underheader{
    margin-left: 60px;
    color: #333333;
    font-size: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.underheader a {
    text-align: center;
}
.underheader a:hover {
    color: #d00;

}
.underheader a img {
    height: 24px;
    margin-right: 6px;
}
.underheader_location {
    font-size: 16px;
    justify-content: center;
}
.underheader_phone {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 26px;
}
.underheader_mail {
    color: #fff;
    font-weight: bold;
}
.userblock{
    margin-left: auto;
    display: flex;
    margin-right: 0px;
}
.menu {
    justify-content: space-between;
    padding: 0 10%;
    z-index: 999;
    width: 100%;
    height: 40px;
    background: #d00;
    display: flex;
    align-items: center;
}
.menu ul {
    width: 100%;
    display: flex;
}
.menu ul li {
    margin-right: 60px;
    display: flex;
    align-items: center;
    height: 60px;
}
.menu ul li a {
    color: #fff !important;
    display: block;
}
.cart svg {
    fill: #333;
    margin-right: 4px;
    height: 30px;
    width: 30px;
}
.cart:hover {
    background: #eee;
}

.user svg{
    fill: #333333;
    height: 30px;
    width: 30px;
}
.user:hover{
    background: #eee;
}