@media screen and (max-width: 1370px) {
    .search__box {
        border-radius: 20px;
        margin-right: 0 !important;
        display: block;
        width: 50% !important;
        position: relative;
    }
}


/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
    .search__box {
        /* display: none !important; */
        width: 100% !important;
    }
    .search{
        font-size: inherit;
        font-family: inherit;
        margin-left: 0 !important;
        height: 40px;
        width: 70%;
        border-right: none !important;
        border-left: none !important;
        border-radius: 0 !important;
        /* background: #f4f4f4; */
        outline: none;
        padding: 30px 5% !important;
    }
    .search__tool button {
        border-radius: 0 !important;
        padding: 22px 5% !important;
    }
    .result {
        z-index: 999;
        left: 0px !important;
        border: 1px solid #ddd;
        background: #fff;
        position: absolute;
        width: 100% !important;
        border-radius: 0 !important;
    }
}
.search__box {
    border-radius: 20px;
    margin-right: 20px;
    display: block;
    width: 35%;
    position: relative;
}
.search{
    font-size: inherit;
    font-family: inherit;
    margin-left: 60px;
    height: 50px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* background: #f4f4f4; */
    outline: none;
    padding: 0 20px;
}
.result {
    z-index: 999;
    left: 60px;
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    width: 89%;
    border-radius: 8px;
}
.result__item {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.result__item:hover {
    background: #d00;
    color: #fff;
}
.result__item:last-child {
    border: none;
}
.result__item_title {
    width: 80%;
}
.result__item_title::first-letter {
    text-transform: uppercase;
}
.result__cat_item_title {
    font-weight: bold;
}
.search__tool {
    justify-content: space-between;
    display: flex;
}
.search__tool button {
    right: 0;
    position: absolute;
    font-weight: bold;
    border-radius: 0px 8px 8px 0px;
    font-family: inherit;
    padding: 16px 20px;
    background: #d00;
    color: #fff;
    border: none;
    cursor: pointer;
}
.search__tool button:hover {
    border-radius: 0px 8px 8px 0px;
    font-family: inherit;
    padding: 16px 20px;
    background: #900;
    color: #fff;
    border: none;
}