@media screen and (max-width: 1370px) {
   
}


/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
    .search__box {
        display: none !important;
    }
}
.search__box {
    border-radius: 20px;
    margin-right: 60px;
    display: block;
    width: 35%;
    position: relative;
}
.search{
    font-size: inherit;
    font-family: inherit;
    margin-left: 60px;
    height: 40px;
    width: 100%;
    border: none;
    background: #f4f4f4;
    outline: none;
    padding: 0 20px;
}
.result {
    z-index: 999;
    left: 60px;
    border: 1px solid #ddd;
    background: #fff;
    position: absolute;
    width: 86%;
}
.result__item {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.result__item:hover {
    background: #d00;
    color: #fff;
}
.result__item:last-child {
    border: none;
}
.result__item_title {
    width: 80%;
}
.result__item_title::first-letter {
    text-transform: uppercase;
}
.result__cat_item_title {
    font-weight: bold;
}
.search__tool {
    justify-content: space-between;
    display: flex;
}
.search__tool button {
    font-weight: bold;
    border-radius: 5px;
    font-family: inherit;
    padding: 10px 20px;
    background: #d00;
    color: #fff;
    border: none;
    cursor: pointer;
}
.search__tool button:hover {
    border-radius: 5px;
    font-family: inherit;
    padding: 10px 20px;
    background: #900;
    color: #fff;
    border: none;
}