@media screen and (max-width: 1370px) {
    
}


/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
    .footer {
        flex-direction: column !important;
        padding-bottom: 120px !important;
    }
    .contact_info {
        text-align: left !important;
    }

    .contact_info h2 {
        margin-top: 20px;
        font-size: 32px !important;
        margin-bottom: 10px;
    }
    .contact_info h3 {
        margin-top: 10px;
    }
}

.footer {
    background: linear-gradient(90deg, #a02,#d00);
    min-height: 300px;
    display: flex;
    padding: 40px 10%;
    opacity: 90%;
    color: #fff;
    font-size: 18px;
}
.logo{
    height: 80px;
    width: 25%;
}
.logo img {
    height: 80px;
    width: 300px;
}
.menu {

}
.menu ul li {
    margin-top: 20px;
}
.contact_info {
    margin-left: auto;
    text-align: right;
}
.contact_info h2 {
    font-size: 42px;
}
.contact_info h3 {
    font-weight: normal !important;
}