@media screen and (max-width: 1370px) {
    .logo img {
        height: 80px;
        width: 80% !important;
    }
}


/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .contact_info h2 {
        font-size: 24px !important;
    }
    .contact_info h3 {
        font-weight: normal !important;
        font-size: 12px !important;
    }

    .contact_info img {
        margin-top: 20px;
        max-height: 30px !important;
    }
    .logo{
        height: 80px;
        width: 35% !important;
    }
    .menu {
        font-size: 14px !important;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    .logo img {
        height: 80px;
        width: 300px !important;
    }
    .footer {
        flex-direction: column !important;
        padding-bottom: 120px !important;
    }
    .contact_info {
        text-align: left !important;
        margin-left: 0 !important;
    }

    .contact_info h2 {
        margin-top: 20px;
        font-size: 32px !important;
        margin-bottom: 10px;
    }
    .contact_info h3 {
        margin-top: 10px;
    }
    .contact_info img {
        margin-right: 40px !important;
        margin-top: 20px;
        max-height: 40px;
    }
}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
    .logo img {
        height: 80px;
        width: 300px !important;
    }
    .footer {
        flex-direction: column !important;
        padding-bottom: 120px !important;
    }
    .contact_info {
        text-align: left !important;
    }

    .contact_info h2 {
        margin-top: 20px;
        font-size: 32px !important;
        margin-bottom: 10px;
    }
    .contact_info h3 {
        margin-top: 10px;
    }
    .contact_info img {
        margin-top: 20px;
        max-height: 40px;
    }
}

.footer {
    background: linear-gradient(90deg, #a02,#d00);
    min-height: 300px;
    display: flex;
    padding: 40px 10%;
    opacity: 90%;
    color: #fff;
    font-size: 18px;
}
.logo{
    height: 80px;
    width: 25%;
    margin-right: 40px;
}
.logo img {
    height: 80px;
    width: 100%;
}
.menu {

}
.menu ul li {
    margin-top: 20px;
}
.menu ul li a {
    cursor: pointer;
}
.contact_info {
    margin-left: auto;
    text-align: right;
}
.contact_info h2 {
    font-size: 42px;
}
.contact_info h3 {
    font-weight: normal !important;
}

.contact_info img {
    margin-top: 20px;
    max-height: 40px;
}