.orders h1{
    margin-bottom: 40px;
}
.orders table {
    border-collapse: collapse;
    width: 100%;
}
.orders > table {
    margin-bottom: 20px;
}
.orders > table thead{
    border: none;
    outline: none;
}
.orders > table tbody {
    border: 1px solid #000;
}
.orders table td {
    padding: 10px;
}

.order {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 20px #ddd;
    margin-bottom: 20px;
}
.header {
    padding: 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}