
@media screen and (min-width: 1200px) and (max-width: 1370px) {
  
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
    .offers {
        display: none !important;
    }
    
}
.offers {
    margin-top: 100px;
}
.offers__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer {
    width: 49%;
    overflow: hidden;
}
.offer img {
    margin-bottom: 30px;
    border-radius: 25px;
    width: 100%;
    cursor: pointer;
}
.offer img:hover {
    filter: brightness(80%);
}