@media screen and (min-width: 1550px) and (max-width: 1700px) {
  
}

@media screen and (min-width: 1370px) and (max-width: 1549px) {
 
}

@media screen and (max-width: 1369px) {
    
}


/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {
    
    .mobile_menu {
        display: flex !important;
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: space-between;
    }

}
.mobile_menu {
    background: #fff;
    padding: 16px 20px ;
    bottom: 0;
    left: 0;
    /* height: 0px; */
    width: 100%;
    display: none;
    box-shadow: 0 0 20px #aaa;
}

.mobile_button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cart svg {
    height: 30px;
    margin-bottom: 4px;
    width: 30px;
}

.mobile_menu svg {
    height: 30px;
    margin-bottom: 4px;
    width: 30px;
}

.active {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d00;
    fill: #d00;
}
.active_cart {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d00;
    fill: #d00;
}

.cart_amount {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    font-size: 12px !important;
    top: -10px;
    background: #d00;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
}