@media screen and (min-width: 1200px) and (max-width: 1370) {
  
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .completed_order_blocks {
        flex-direction: column !important;
        padding: 0 5% !important;
    }
    .completed_order_block {
        width: 100% !important;
    }
    .completed_order_block h1 {
        margin-top: 40px !important;
    }
    .completed_order_block table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px !important;
        font-size: 16px !important;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    .completed_order_blocks {
        flex-direction: column !important;
        padding: 0 5% !important;
    }
    .completed_order_block {
        width: 100% !important;
    }
    .completed_order_block h1 {
        margin-top: 40px !important;
    }
    .completed_order_block table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px !important;
        font-size: 12px !important;
    }
}
@media screen and (max-width: 480px) {
    .completed_order_blocks {
        flex-direction: column !important;
        padding: 0 5% !important;
    }
    .completed_order_block {
        width: 100% !important;
    }
    .completed_order_block h1 {
        margin-top: 20px !important;
    }
    .completed_order_block button {
        cursor: pointer;
        border-radius: 50px;
        margin-top: 40px;
        font-weight: 600;
        padding: 20px 40px;
        border: none;
        background: #d00;
        color: #fff;
        font-size: 18px;
        box-shadow: 0 20px 30px #d66 !important;
        margin-bottom: 60px !important;
    }
    .completed_order_block table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px !important;
        font-size: 12px !important;
    }
    .completed_order_block td{
        padding: 6px 10px !important;
    }
}

.completed_order_blocks {
    display: flex;
    justify-content: space-between;
}
.completed_order_block {
    width: 47%;
}
.completed_order_block h1 {
    margin-bottom: 10px;
}
.completed_order_block h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.completed_order_block ul {
    margin-top: 10px;
}
.completed_order_block hr {
    margin-top: 16px;
    border: 1px solid #d00;
}
.completed_order_block ul li {
    margin-top: 10px;
}
.completed_order_block table{
    width: 100%;
    border-collapse: collapse;
}
.completed_order_block td{
    padding: 10px 20px;
}
.completed_order_block button {
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
    font-weight: 600;
    padding: 20px 40px;
    border: none;
    background: #d00;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 20px 50px #d66;
}