.contacts__block {
    display: flex;
    
}

.contacts__block > div {
    width: 50%;
}

.contacts__block h1 {
    font-size: 42px !important;
    margin-bottom: 30px;
}
.contacts__block h2 {
    /* font-size: 42px !important; */
    margin-bottom: 10px;
    margin-top: 20px;
}