@media screen and (min-width: 1200px) and (max-width: 1370) {
    .page {
        padding-top: 0px !important;
    }
}

/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {

    .page{
        min-height: 80vh !important;
        width: 100% !important;
        padding: 0 !important;
    }
}
.page{
    min-height: 80vh;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 100px;
}