.product {
    padding-top: 40px;
}
.back_button {
    position: absolute;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 50%;
    font-size: 56px;
    color: #333;
    cursor: pointer;
    padding: 0px 20px;
}
.back_button:hover {
    color: #d00;
}
.product__overview {
    display: flex;
    justify-content: space-between;
}
.product__overview_img {
    
    width: 60%;
    display: flex;
    height: 600px;
    justify-content: center;
}
.product__overview_img img {
    width: 60%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    transition: 0.1s ease-out all;
}
.product__overview_img img:hover {
    width: 80%;
    height: calc(auto + 20%);
    object-fit: contain;
}
.product__overview_info {
    margin-top: 100px;
    width: 50%;
}
.product__overview_title{
    margin-bottom: 60px;
}
.product__overview_title h1::first-letter {
    text-transform: uppercase;
}
.product__overview_title h4 {
    margin-top: 20px;
    font-weight: normal;
}
.product__overview_price {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.product__overview_price span {
    font-size: 60px;
    margin-right: 6px;
}
.product__overview_cart button {
    font-weight: bold;
    width: 200px;
    background: #d00;
    color: #fff;
    font-family: inherit;
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.product__overview_cart button:hover {
    background: #a00;
}
.product__infoblock {
    padding-top: 80px;
}
.product__description {
    font-size: 18px;
}
.product__description p{
    margin-bottom: 40px;
    margin-left: 10px;
}
.product__description h2 {
    margin-top: 20px;
    font-size: 36px;
    margin-bottom: 20px;
}
.LoadingPanel {
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__overview_cart_added button{
    font-weight: bold;
    width: 200px;
    background: #888;
    color: #fff;
    font-family: inherit;
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
}
.product__to_cart__block {
    display: flex;
    align-items: center;
}
.product__counter {
    display: flex;
    margin-right: 20px;
}
.product__counter input{
    outline: none;
    border: none;
    font-size: 24px;
    text-align: center;
    display: block;
    width: 70px;
    margin: 0 10px;
    -moz-appearance: textfield;
}
.product__counter input::-webkit-inner-spin-button { 
    display: none;
}
.product__counter button {
    outline: none;
    background: #fff;
    color: #555;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 32px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 32px;
    height:32px;
    font-weight: bold;
}
.product__counter button:hover {
    color: #d00;
}
.attributes {
    margin-top: 30px;
}

.attribute {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.attribute > div {
    margin-bottom: 20px;
}
.attribute > div:first-child {
    font-weight: bold;
}