.category h1{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 20px;
}
.toolbar {
    display: flex;
    justify-content: space-between;
}
.category_main {
    display: flex;
    justify-content: space-between;
}
.category_filter {
    flex-basis: 22%;
    padding: 10px 30px;
}
.category_filter .filter_price {
    margin-bottom: 20px;
}
.category_filter .filter_title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.category_filter .filter_inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.category_filter .filter_checkboxes > div {
    margin-bottom: 10px;
}
.category_filter .filter_inputs > div {
    display: flex;
    width: 50%;
    align-items: center;
}
.category_filter .filter_inputs input {
    font-family: inherit;
    background: none;
    outline: none;
    width: 70%;
    height: 30px;
    border: none;
    margin-right: 10px;
    border-bottom: 1px solid #d00;
}
.category_goodsblock {
    flex-basis: 75%;
}
.category_goodsblock_header {
    padding: 10px 0;
    margin-bottom: 40px;
}
.category_goods {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}
.category_good{
    width: 20%;
    flex-basis: 20%;
    margin-left: 5%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.good_img {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.good_img:hover img {
    width: 80%;
    height: 200px;
}
.good_img img{
    
    transition: ease .2s all;
    width: 100%;
    height: 240px;
    object-fit: scale-down;
}
.good_title {
    word-wrap: break-word;
    line-height: 22px;
    font-weight: bold;
    font-size: 16px;
}
.good_title:hover {
    cursor: pointer;
    color: #d00;
}
.good_price{
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}
.good_price span {
    font-size: 32px;
}
.to_cart{
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
    background: #c00;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 70%;
    padding: 12px 20px;
    cursor: pointer;
}
.to_cart_added {
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    color: #c00;
    margin-top: 20px;
    background: #fff;
    border-radius: 5px;
    border: #c00 2px solid;
    outline: none;
    width: 70%;
    padding: 12px 20px;
    cursor: pointer;
}
.to_cart:hover{
    background: #900;
}
.outofstock {
    margin-left: auto;
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    background: #888;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
}
.outofstock:hover {
    background: #555;
}
.LoadingPanel {
    margin-top: 200px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
@keyframes ldio-lwfv892l7qs {
0% { background: #ffffff }
12.5% { background: #ffffff }
12.625% { background: #dd0000 }
100% { background: #dd0000 }
}
.ldio-lwfv892l7qs div {
position: absolute;
width: 40px;
height: 40px;
background: #dd0000;
animation: ldio-lwfv892l7qs 1s linear infinite;
}
.loadingio-spinner-blocks-98jpff62tnu {
width: 200px;
height: 200px;
display: inline-block;
overflow: hidden;
background: #dddddd;
}
.ldio-lwfv892l7qs {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-lwfv892l7qs div { box-sizing: content-box; }


.added {
    background: #ccc;
}

.sorter {
    display: flex;
    align-items: center;
}
.sorter p {
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 20px !important;
}
.select{
    min-width: 230px;
}
.pagination ul{
    justify-content: flex-end;
    display: flex;
}
.pagination li {
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    display: block;
    width: 40px;
    height: 40px;
}
.pagination li:hover {
    background: #eee;
}
.pagination_left {
    transform: rotate(180deg);
    margin-right: 4px !important;
}
.pagination_left svg {
    height: 16px;
    width: 16px;
}
.pagination_right {
    margin-left: 4px !important;
}
.pagination_right svg {
    height: 16px;
    width: 16px;
}
.checkbox_filter {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}
.checkbox_filter input {
    margin-right: 10px;
}