.product {
    display:flex;
    justify-content: space-between;

}
.main_info {
    width: 48%
}
.additional_info {
    width: 50%
}
.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header label {
    margin-bottom: 10px;
}
.header input {
    padding: 10px;
}
.header select {
    padding: 10px;
}
.header button {
    padding: 10px 20px;
}
.images_block input {
    margin-bottom: 10px;
}

.images_block_header {
    display: flex;
    justify-content: space-between;
}

.additional_info textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    height: 400px;
}

.desc__block button{
    margin-bottom: 20px;
    padding: 10px 30px;
}

.back {
    padding: 10px 30px;
    background: #d00;
    font-weight: bold;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.back:hover {
    background: #d50;
}