@media screen and (min-width: 1550px) and (max-width: 1700px) {
    .catalog_block {
        padding: 00px 5% 0 !important;
    }
    .catalog__table {
        margin-top: 0 !important;
    }
    .catalog__nav_item img {
        height: 30px !important;
        width: 30px !important;
    }
    
    .catalog__nav_item {
        padding: 4px 20px !important;
        font-size: 14px !important;
    }
    .catalog__items {
        padding: 20px 40px !important;
        font-size: 16px;
    }
}

@media screen and (min-width: 1370px) and (max-width: 1549px) {
    .catalog_block {
        padding: 00px 5% 0 !important;
    }
    .catalog__table {
        margin-top: 0 !important;
    }
    .catalog__nav_item img {
        height: 30px !important;
        width: 30px !important;
    }
    
    .catalog__nav_item {
        padding: 4px 20px !important;
        font-size: 14px !important;
    }
    .catalog__items {
        padding: 20px 40px !important;
        font-size: 16px;
    }
}

@media screen and (max-width: 1369px) {
    .catalog_h1 {
        font-size: 32px !important;
        margin-left: 100px !important;
    }
    .catalog__table {
        margin-top: 0 !important;
    }
    .catalog{
        font-size: 14px !important;
    }
    .catalog__nav_item img {
        height: 30px !important;
        width: 30px !important;
    }
    .catalog__nav_item {
        padding: 4px 20px !important;
        font-size: 14px !important;
    }
    .catalog_img {
        height: 420px !important;
    }
    .catalog__items {
        padding: 20px 40px !important;
    }
}


.catalog{
    font-size: 20px;
    height: 100vh;
    background: #fff;
    position: fixed;
    top:0;
    width:100%;
    z-index: 800;
}
.catalog_block {
    padding: 00px 10% 0;
}
.close {
    float: right;
    color: #fff;
    border-radius: 50%;
    border: none;
    background: #d00;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}
.close:hover{
    background: #800;
}
.catalog-enter {
    opacity: 0.01;
}

.catalog-enter.catalog-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.catalog-leave {
    opacity: 1;
}

.catalog-leave.catalog-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.catalog__table {
    margin-top: 40px;
    display: flex;
}
.catalog__nav {
    min-height: 60vh;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
}
.catalog__nav_item {
    font-size: 18px;
    cursor: pointer;
    padding: 6px 20px;
    border-right: none !important;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.catalog__nav_item h4 {
    font-weight: 500;
}
.catalog__nav_item:hover {
    color: #fff;;
    background: #d00;
}
.catalog__nav_item:last-child {
    border-bottom: none;
}
.catalog__nav_item img{
    margin-right: 20px;
    height: 40px;
    width: 40px;
}
.catalog__items {
    display: flex;
    padding: 40px 60px;
    border-radius: 0 20px 20px 0;
    width: 100%;
    min-height: 60%;
    background: #f5f5f5;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog__itemsblock {
    width: 55%;
}
.catalog__itemslist {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.catalog__items h1{
}
.catalog__item {
    padding: 20px 40px;
    margin-top: 30px;
    background-size: cover;
    background-position: center center;
    border-radius: 50px;
    height: 320px;
    width: 32%;
}
.catalog_img {
    width: 40%;
    overflow: hidden;
    border-radius: 20px;
    height: 500px;
    object-fit: contain;
}
.catalog_img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.metiz{
    padding: 20px;
    position: relative;
    margin-top: 30px;
    background: #f5f5f5;
    border-radius: 22px;
    height: 320px;
    width: 32%;
}
.metiz h3 {
    text-transform: uppercase;
}
.info{
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 20px;
    height: 80px;
    min-width: 80px;
    box-shadow: #ccc 0 0 10px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img {
    width: 50px;
    height: 50px;
}
.catalog__link {
    width: 49%;
    display: block;
    margin-bottom: 6px;
}
.catalog__link:hover{
    color: #d00;
    font-weight: bold;
}
.catalog_h1 {
    margin-left: 380px;
}