.header {
    display: flex;
    padding: 14px;
    align-items: center;
    margin-bottom: 40px;
}

.catalog__button{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: inherit;
    font-family: inherit;
    height: 40px;
    color: #fefefe;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background: #d00;
    margin-left: 40px;
    border: none;
    cursor: pointer;
}
.catalog__button:hover{
    background: #a22;
}
.catalog__button img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}
.search{
    margin-left: 60px;
    height: 40px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background: #f4f4f4;
    outline: none;
    padding: 0 20px;
}
.logo{
    z-index: 999;
    height: 80px;
    width: 300px;
}