.header {
    background: #fff;
    width: 100%;
    display: flex;
    padding: 14px 10%;
    align-items: center;
    z-index: 999;   
    box-shadow: #eee 0px 5px 20px;
}
.catalog__button{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: inherit;
    font-family: inherit;
    height: 40px;
    color: #fefefe;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background: #d00;
    margin-left: 40px;
    border: none;
    cursor: pointer;
}
.catalog__button:hover{
    background: #a22;
}
.catalog__button img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}
.search{
    font-size: inherit;
    font-family: inherit;
    margin-left: 60px;
    height: 40px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background: #f4f4f4;
    outline: none;
    padding: 0 20px;
}
.logo{
    background: #fff;
    height: 80px;
    width: 300px;
}
.user{
    margin-left: 50px;
    cursor: pointer;
}
.cart img{
    height: 30px;
    width: 30px;
}
.cart {
    margin-left: 30px;
}
.user img{
    height: 30px;
    width: 30px;
}
.underheader{
    font-weight: bold;
    background: #fff;
    width: 100%;
    justify-content: space-between;
    padding: 0 10%;
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 999;
}
.underheader a {
    display: flex;

}
.underheader a:hover {
    color: #d00;

}
.underheader a img {
    height: 16px;
    margin-right: 6px;
}
.userblock{
    margin-left: auto;
    display: flex;
    margin-right: 40px;
}
.menu {
    padding: 0 20%;
    z-index: 999;
    width: 100%;
    height: 60px;
    background: #d00;
    display: flex;
    align-items: center;
}
.menu ul {
    font-weight: bold;
    width: 100%;
    justify-content: space-around;
    display: flex;
    color: #fff;
}
.menu ul li {
    flex-basis: 25%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 60px;
}
.menu ul li a {
    display: block;
}