.header {
    display: flex;
    padding: 14px;
    align-items: center;
    margin-bottom: 40px;
}

.catalog__button{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: inherit;
    font-family: inherit;
    height: 40px;
    color: #fefefe;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background: #d00;
    margin-left: 40px;
    border: none;
    cursor: pointer;
}
.catalog__button:hover{
    background: #a22;
}
.catalog__button img {
    margin-right: 10px;
    height: 25px;
    width: 25px;
}
.search{
    font-size: inherit;
    font-family: inherit;
    margin-left: 60px;
    height: 40px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background: #f4f4f4;
    outline: none;
    padding: 0 20px;
}
.logo{
    background: #fff;

    z-index: 999;
    height: 80px;
    width: 300px;
}
.user{
    margin-left: 50px;
    cursor: pointer;
}
.cart img{
    height: 30px;
    width: 30px;
}
.cart {
    margin-left: 30px;
}
.user img{
    height: 30px;
    width: 30px;
}
.underheader{
    justify-content: space-between;
    color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 30px;
    background: #d00;
}