.newgoods {
    position: relative;
}
.newgoods h2{
    font-size: 36px;
    margin-bottom: 60px;
    text-align: center;
}
.newgoods__wrapper {
    overflow: hidden;
}
.newgoods__items {
    position: absolute;
    top: 0px;
    left: 20px;
    display: flex;
    transition: ease-in-out .5s all;
}
.newgoods__item {
    /* height: 500px; */
    padding: 0 20px;
    min-width: 20%;
    flex-basis: 20%;
    margin-left: 5%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newgoods__item:first-child {
    margin-left: 2% !important;
}
.good_img {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.good_img:hover img {
    width: 80%;
    height: 200px;
}
.good_img img{
    transition: ease .2s all;
    width: 100%;
    height: 240px;
    object-fit: scale-down;
}
.good_title {
    height: 60px;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
}
.good_title:hover {
    cursor: pointer;
    color: #d00;
}
.good_price {
    margin-top: auto;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}
.good_price span {
    font-size: 24px !important;
}
.to_cart{
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 10px 10px;
    cursor: pointer;
    background: #c00;
    color: #fff;
    border: none;
}
.to_cart:hover{
    background: #800;
}
.newgoods__control_left {
    
    padding: 0px 12px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: -20px;
    top: 50%;
    border-radius: 50%;
    background: #eee;
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    transform: rotate(180deg);
}
.newgoods svg {
    width: 40px;
}
.newgoods__control_left:hover, .newgoods__control_right:hover{
    background: #d00;
    fill: #fff !important;
}
.newgoods__control_right {
    padding: 0px 12px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: 50%;
    border-radius: 50%;
    background: #eee;
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}