html,
body {
  color: #333;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, button, select, label {
  font-family: inherit;
}
a {
  display: block;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead {
  font-weight: bold;
}
table td {
  border: 1px solid #ccc;
  padding: 10px 20px;
}
input, select, label {
  display: block;
}