.category h1{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 20px;
}
.category_main {
    display: flex;
    justify-content: space-between;
}
.category_filter {
    flex-basis: 22%;
    padding: 10px 30px;
}
.category_filter .filter_price {
    margin-bottom: 20px;
}
.category_filter .filter_title {
    font-weight: bold;
    margin-bottom: 20px;
}
.category_filter .filter_inputs{
    display: flex;
    justify-content: space-between;
}
.category_filter .filter_checkboxes > div {
    margin-bottom: 10px;
}
.category_filter .filter_inputs > div {
    display: flex;
    width: 50%;
    align-items: center;
}
.category_filter .filter_inputs input {
    font-family: inherit;
    background: none;
    outline: none;
    width: 70%;
    height: 30px;
    border: none;
    margin-right: 10px;
    border-bottom: 1px solid #d00;
}
.category_goodsblock {
    flex-basis: 75%;
}
.category_goodsblock_header {
    padding: 10px 0;
    margin-bottom: 40px;
}
.category_goods {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}
.category_good{
    width: 20%;
    flex-basis: 20%;
    margin-left: 5%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.good_img {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.good_img:hover img {
    width: 80%;
    height: 200px;
}
.good_img img{
    transition: ease .2s all;
    width: 100%;
    height: 240px;
    object-fit: scale-down;
}
.good_title {
    font-weight: bold;
    font-size: 16px;
}
.good_title:hover {
    cursor: pointer;
    color: #d00;
}
.good_price{
    margin-top: 20px;
    font-size: 24px;
}
.to_cart{
    margin-left: auto;
    font-weight: bold;
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    background: #c00;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    padding: 16px 20px;
    cursor: pointer;
}
.to_cart:hover{
    background: #900;
}