/* Portrait tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .good_title {
        height: 80px !important;
        overflow: hidden;
        font-weight: 650;
        font-size: 14px !important;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    .newgoods h2{
        font-size: 24px !important;
        margin-bottom: 40px !important;
        /* text-align: center; */
    }
    .newgoods {
        padding: 5% !important;
        margin-bottom: 20px !important;
    }
    .good_img {
        height: 100px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        cursor: pointer;
    }
    .good_title {
        height: 80px !important;
        overflow: hidden;
        font-weight: 650;
        font-size: 14px !important;
    }

    .good_price {
        margin-top: auto;
        font-weight: bold;
        margin-top: 10px;
        font-size: 24px !important;
    }
    .good_price span {
        font-size: 24px !important;
    }
    .to_cart{
        display: block;
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 5px;
        font-weight: 600;
        outline: none;
        width: 100%;
        padding: 10px 10px !important;
        cursor: pointer;
        background: #c00;
        color: #fff;
        border: none;
    }
    .newgoods__item {
        /* height: 500px; */
        padding: 0 20px;
        min-width: 20%;
        flex-basis: 20%;
        margin-left: 5%;
        margin-bottom: 0px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .newgoods h2{
        margin-top: 20px !important;
        font-size: 36px;
        margin-bottom: 60px;
    }
}


@media screen and (max-width: 480px) {
    .newgoods h2{
        font-size: 24px !important;
        margin-bottom: 40px !important;
        /* text-align: center; */
    }
    .newgoods {
        padding: 5% !important;
        margin-bottom: 20px !important;
    }
    .good_img {
        height: 100px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        cursor: pointer;
    }
    .good_title {
        height: 80px !important;
        overflow: hidden;
        font-weight: 650;
        font-size: 14px !important;
    }

    .good_price {
        margin-top: auto;
        font-weight: bold;
        margin-top: 10px;
        font-size: 24px !important;
    }
    .good_price span {
        font-size: 24px !important;
    }
    .to_cart{
        display: block;
        text-align: center;
        font-family: inherit;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 5px;
        font-weight: 600;
        outline: none;
        width: 100%;
        padding: 10px 10px !important;
        cursor: pointer;
        background: #c00;
        color: #fff;
        border: none;
    }
    .newgoods__item {
        /* height: 500px; */
        padding: 0 20px;
        min-width: 20%;
        flex-basis: 20%;
        margin-left: 5%;
        margin-bottom: 0px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .newgoods h2{
        margin-top: 20px !important;
        font-size: 36px;
        margin-bottom: 60px;
    }
}


.newgoods {
    position: relative;
}
.newgoods h2{
    margin-top: 60px;
    font-size: 36px;
    margin-bottom: 60px;
}
.newgoods__wrapper {
    overflow: hidden;
}
.newgoods__items {
    position: absolute;
    top: 0px;
    left: 20px;
    display: flex;
    transition: ease-in-out .5s all;
}
.newgoods__item {
    /* height: 500px; */
    padding: 0 20px;
    min-width: 20%;
    flex-basis: 20%;
    margin-left: 5%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newgoods__item:first-child {
    margin-left: 2% !important;
}
.good_img {
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;
}
.good_img:hover img {
    width: 80%;
    height: 200px;
}
.good_img img{
    transition: ease .2s all;
    width: 100%;
    height: 240px;
    object-fit: scale-down;
}
.good_title {
    height: 60px;
    overflow: hidden;
    font-weight: 650;
    font-size: 16px;
}
.good_title:hover {
    cursor: pointer;
    color: #d00;
}
.good_price {
    margin-top: auto;
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}
.good_price span {
    font-size: 40px;
}
.to_cart{
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
    width: 100%;
    padding: 16px 10px;
    cursor: pointer;
    background: #c00;
    color: #fff;
    border: none;
}
.to_cart:hover{
    background: #800;
}
.newgoods__control_left {
    
    padding: 0px 12px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: -20px;
    top: 50%;
    border-radius: 50%;
    background: #eee;
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    transform: rotate(180deg);
}
.newgoods svg {
    width: 40px;
}
.newgoods__control_left:hover, .newgoods__control_right:hover{
    background: #d00;
    fill: #fff !important;
}
.newgoods__control_right {
    padding: 0px 12px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: 50%;
    border-radius: 50%;
    background: #eee;
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}